* {
  box-sizing: border-box;
  font-family: sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.calculator {
  background-color: rgb(32, 178, 170, 0.2);
  width: 350px;
}

.upper {
  border: 1px solid seagreen;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  column-gap: 10px;
  width: 350px;
  align-items: center;
  justify-content: center;
  padding: 20px 50px 50px 50px;
  position: relative;
}

.output {
  position: absolute;
  top: 70px;
  left: 40px;
  font-weight: bold;
  font-size: 20px;
}

.amount input,
.currency {
  background-color: #fff;
  border: none;
  height: 30px;
  box-shadow: 0px 0px 1px dodgerblue;
}

.amount input:focus {
  outline: 1px solid gray;
}

.currency {
  box-shadow: 0px 0px 3px seagreen;
  font-weight: bold;
  background-color: darkslateblue;
  color: #fff;
}

.currency option {
  background-color: black;
}
